@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'DM Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    @apply min-h-screen antialiased bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-50;
}
